body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #00AECC;
	font-family: Arial;
}
/* header */
header{
	width: 100%;
	height: 60px;
	background-color: #0094AE;	
	display: flex;
	justify-content: center;
}
img{
	width: 100px;
}
/* cnntenedor de contenido*/
section{
	margin-top: 40px;
}
/* contenido de lista*/
.wrapperList{
	height: auto;
    min-height: 30px;
    width: 270px;
    padding: 4px;
    border-radius: 3px;
    -webkit-transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    background: rgba(0,0,0,.12);
    cursor: pointer;
    color: #fff;
}
.wrapperList:hover {
    background: rgba(0,0,0,.3);
}
.placeholder{
	display: block;
	padding: 7px;
    color: rgba(255,255,255,.7);
    -webkit-transition: color 85ms ease-in;
    transition: color 85ms ease-in;
}
/*seccion de agregar lista*/
.listName{
	background: 0 0;
    border-color: transparent;
    box-shadow: none;
    cursor: pointer;
    display: none;
    margin: 0;
}
.wrapperList.modAdd {
    height: auto;
    min-height: 30px;
    padding: 4px;
    border-radius: 3px;
    background-color: #E2E4E6;
    -webkit-transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
}
/*bnts de agregar lista*/
.listControls{
	height: 2pc;
    -webkit-transition: margin 85ms ease-in,height 85ms ease-in;
    transition: margin 85ms ease-in,height 85ms ease-in;
    overflow: hidden;
    margin: 4px 0 0;
}
.btnSave{
	background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
    box-shadow: 0 1px 0 #3F6F21;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    float: left;
    min-height: 30px;
    height: 30px;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
.cancelar i{
	font-size: 24px;
    margin: 3px 5px 10px;
}
.close:hover{
	color: #4d4d4d;
    text-decoration: none;
}

