body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #00AECC;
	font-family: Arial;
}
/* header */
header{
	width: 100%;
	height: 60px;
	background-color: #0094AE;	
	display: flex;
	justify-content: center;
}
img{
	width: 100px;
}
/* cnntenedor de contenido*/
section{
	margin-top: 40px;
}
/* contenido de lista*/
.wrapperList{
	word-break: break-all;
    white-space: normal;
    border-radius: 3px 3px;
    color: #4D4D4D;
    font-weight: bold;
    margin-left: 16px;
    /*background-color: #E2E4E6;*/
    width: 270px;
    display: inline-block;
    vertical-align: top;
}
.addList{
    height: auto;
    min-height: 30px;
    padding: 4px;
    border-radius: 3px;
    background-color: #E2E4E6;
}
.placeholder{
    cursor: pointer;
    display: inline-block;
    padding: 12px 120px 12px 12px;
    color: rgba(255,255,255,0.7);
    border-radius: 3px;
    background-color: rgba(2, 2, 2, 0.12);
    font-size: 14px;
    width: 100%;
}
.placeholder:hover {
    background: rgba(0,0,0,.3);
}
/*seccion de agregar lista*/
.listName{
    cursor: pointer;
    background: rgba(0,0,0,.05);
    border-color: #e2e4e6;
    box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
    display: block;
    margin: 0;
    -webkit-transition: margin 85ms ease-in,background 85ms ease-in;
    transition: margin 85ms ease-in,background 85ms ease-in;
    width: 100%;
    border-radius: 3px;
    min-height: 34px;
    padding: 7px;
}
.inputAdd{
    color: #929292;
}

/*bnts de agregar lista*/
.listControls{
	height: 2pc;
    -webkit-transition: margin 85ms ease-in,height 85ms ease-in;
    transition: margin 85ms ease-in,height 85ms ease-in;
    overflow: hidden;
    margin: 4px 0 0;
}
.btnSave{
	background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
    box-shadow: 0 1px 0 #3F6F21;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    float: left;
    min-height: 30px;
    height: 30px;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
.cancelar i{
	font-size: 24px;
    margin: 3px 5px 10px;
}
.close:hover{
	color: #4d4d4d;
    text-decoration: none;
}
/*agregando cards*/
.nameList{
  padding:8px;
  word-break: break-all;
  white-space: normal;
}
.newCard{
  border-radius: 0 0 3px 3px;
  color: #8c8c8c;
  padding: 8px 90px 12px 10px;
  text-decoration: none;
  background-color: #E2E4E6;
}
.contenedor{
  display: inline-block;
  vertical-align: top;
  background-color: #E2E4E6;
  border-radius: 3px 3px;
  color: #4D4D4D;
  font-weight: bold;
  margin-left: 16px;
  background-color: #E2E4E6;
  word-wrap: break-word;
  width: 270px;
}


